@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {

:root  {
  --background: 218 48% 95%;
  --foreground: 218 5% 10%;
  --card: 218 48% 90%;
  --card-foreground: 218 5% 15%;
  --popover: 218 48% 95%;
  --popover-foreground: 218 95% 10%;
  --primary: 218 100% 98%;
  --primary-foreground: 0 0% 0%;
  --secondary: 218 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 180 30% 85%;
  --muted-foreground: 218 5% 40%;
  --accent: 180 30% 80%;
  --accent-foreground: 218 5% 15%;
  --destructive: 0 50% 48%;
  --destructive-foreground: 218 5% 90%;
  --border: 218 30% 50%;
  --input: 218 30% 48%;
  --ring: 218 100% 98%;
  --radius: 0rem;

  /* Custom Harry Potter colors */
  --gryffindor-primary: 0 91% 27%;
  --gryffindor-secondary: 45 100% 50%;
  --slytherin-primary: 152 47% 19%;
  --slytherin-secondary: 0 0% 36%;
  --ravenclaw-primary: 225 63% 15%;
  --ravenclaw-secondary: 35 55% 38%;
  --hufflepuff-primary: 45 100% 50%;
  --hufflepuff-secondary: 24 33% 18%;
  --magic-blue: 217 59% 18%;
  --magic-purple: 275 100% 25%;
}
.dark  {
  --background: 218 48% 10%;
  --foreground: 218 5% 90%;
  --card: 218 48% 10%;
  --card-foreground: 218 5% 90%;
  --popover: 218 48% 5%;
  --popover-foreground: 218 5% 90%;
  --primary: 218 100% 98%;
  --primary-foreground: 0 0% 0%;
  --secondary: 218 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 180 30% 25%;
  --muted-foreground: 218 5% 60%;
  --accent: 180 30% 25%;
  --accent-foreground: 218 5% 90%;
  --destructive: 0 50% 48%;
  --destructive-foreground: 218 5% 90%;
  --border: 218 30% 48%;
  --input: 218 30% 48%;
  --ring: 218 100% 98%;
  --radius: 0rem;
}

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
